body{
    font-family: Roboto;
}
.hero{
    background-color: #1f2937;
}
li{
    list-style: none;
}
.li,a{
color: #e5e7eb;
font-size: 18px;
text-decoration: none;

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}
.right{
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-top: 20px;
}
.desc{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 80px;
    margin-right: 60px;

}
button{
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.button:hover{
    background-color: gray;
}
.head p{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900px;
}
p{
    font-size: 14px;
    color: #f9faf8;
}
.placeholder img{
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.info img{
  width: 200px;
  height: 200px; 
 border-radius: 9px;
 

}
.info{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 230px;
    gap: 40px;

}
.topic h2{
    text-align: center;
    font-weight: 900px;
    font-size: 36px;
    color:#1f2937;
}
.info p{
    color: black;
    text-align: center;
}
.quote{
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.quote p{
    color: black;
    text-align: center;
    font-style: italic;
}